h1, h2, h3 {
  @extend %font-titoli;
}

h3 {
  color:$grigio-scuro;
  font-size:1.5rem;
}


footer {
  svg {
    width:2rem;
    height:2rem;
    fill: $grigio;
  }
}


label:not(.form-check-label) {
  font-size:.85rem;
  font-weight: bold;
  margin-bottom:.2rem;
}
