.svg-titolo {
  @extend %font-titoli;
  //text-align: center;
/*
  font-size:35px;
  line-height: 1;
  fill: #fff;
  stroke:#000;
  stroke-width:1px;
*/
}

#ruota_fronte {

  .finestra {
    fill:#fff;
    stroke:#000;
    stroke-width:1px;
    stroke-dasharray: 5;
  }


  .deco {
    fill:#fff;
    stroke:#000;
    stroke-width:.5px;
  }

}

#ruota_retro{

  .spicchi {

    fill:none;
    stroke:orange;
    stroke-width:.5px;

    @media print {
      display: none;
    }
  }

  .clipart {
    //transform-origin: 50% 50%;
    //transform: translateY(5%, 5%);

    &-text {
      font-family: 'Bevan', cursive;
      fill: #fff;
      stroke:#000;
      stroke-width:1px;
      font-size:25px;
    }
  }

}
