.leadBoardWrapper{
  --led-board-off: rgb(255 255 255 / .2);
  --led-board-on: hsl(51deg, 100%, 51%);
  --led-board-on-accent-1: #fff;
  --led-board-on-accent-2: hsl(86deg 98% 52%);

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  //grid-auto-flow: row dense;
  gap: 8px 4px;

  width: 1200px;
  min-width: 340px;
  max-width: 100%;
  padding: 2px;
  margin: 0 auto;
  pointer-events: none;
  user-select: none;
  border: 1px dotted #5e7cc8;


  // @media (min-width: 600px) {
  //   grid-template-columns: repeat(16, 1fr);
  // }
  // @media (min-width: 900px) {
  //   grid-template-columns: repeat(20, 1fr);
  // }
  @media (min-width: 900px) {
    grid-template-columns: repeat(24, 1fr);
  }
}


.ledBoardElement {
  --led-on: var(--led-board-on);

  display: block;
  fill: var(--led-board-off);
}
