html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

canvas {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100dvw;
  height: 100dvh;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    font-size: 1.2rem;
    color: #999;
    text-align: center;
    opacity: 0;
    transition: opacity .3s linear;
  }
  &.show img {
    opacity: 1;
  }

  &.full-img {
    display: grid;
    place-content: center;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: none;
    }

    .credits {
      display: none !important;
    }
  }
}


.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  flex-flow: row wrap;
  gap: .5rem 2rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: .2rem 1rem;
  color: #fff;
  background-color: rgba(0 0 0 / .7);
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.4;

  .container.show & {
    display: flex;
  }

  a {
    color: #fc0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}





/* https://wweb.dev/resources/loader-generator/ */

:root {
  --loader-color: #999;
}

.loader-wrapper {
  position: absolute;
  top:50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.loader {
  width: 100px;
  aspect-ratio: 1;
  background: conic-gradient(#0000, var(--loader-color)) content-box;
  border-radius: 50%;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask:
    repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg/10 - 10deg - 1deg),
      #0000 calc(360deg/10 - 10deg) calc(360deg/10)
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - 10px),
      #000 calc(100% - 10px)
    );
  mask:
    repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg/10 - 10deg - 1deg),
      #0000 calc(360deg/10 - 10deg) calc(360deg/10)
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - 10px),
      #000 calc(100% - 10px)
    );

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spin 1000ms infinite steps(10);
}
@keyframes spin { to { transform: rotate(1turn) } }


/* icone */
.photo-link, .reload, .full-img-trigger {
  position: absolute;
  right: 1rem;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: .4rem;
  border-radius: 50%;
  background-color: hsl(76deg 95% 43% / .8);
}
.container.show  :is(.photo-link, .reload, .full-img-trigger) {
  display: flex;
}
:is(.photo-link, .reload, .full-img-trigger) svg {
  max-width: 100%;
  height: auto;
  fill: #000;
  transition: scale .2s ease-in-out;
}

@media (hover: hover) {
  :is(.photo-link, .reload, .full-img-trigger):hover {
    background-color: hsla(76, 87%, 69%, 0.8);
  }
}
:is(.photo-link, .reload, .full-img-trigger):active svg {
  scale: 1.2;
}

.photo-link {
  top: 1rem;
}

.reload {
  bottom: 6rem;
}
.full-img-trigger {
  bottom: 10rem;

}
@media screen and (min-width: 400px) {
  bottom: 3rem;
}
