/* demo only */
html {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  padding: 2rem;
}
h1, h2, h3, p {
  text-align: center;
}
hr {
  margin: 2rem 0;
  border-top: .5px solid #666;
}

.slider-container {
  position: relative;
  container-type: inline-size;
  container-name: slider-container;
  z-index: 1;
  padding: 12px;
  margin: 0 auto;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: block;
    content: '';
    border: 12px solid #999;
    border-radius: .5rem;
  }
}


.mobile-slider-container, .slider-controls, .mobile-carousel-container {
  width: 360px;
}
.mobile-slider-container, .mobile-carousel-container {
  padding: 2rem 0;
}

.desktop-slider-container, .desktop-carousel-container {
  width: calc(800px + 2rem);
  padding: 2rem;
}

.slider-controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem auto;
}

.slider {
  gap: 1rem;
  background-color: transparent;
  background-image: repeating-linear-gradient(45deg, #7074be 0, #7074be 1px, transparent 0, transparent 50%);
  background-size: 10px 10px;
}

.slide {
  display: grid;
  place-content: center;
  min-height: 8rem;
  padding: 1rem;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  filter: grayscale(100%);

  > span {
    font-size: 1.3rem;
  }


  &:nth-child(odd) {
    background-color: #87e054;
  }
  &:nth-child(even) {
    background-color: #f5ae6c;
  }
}

.desktop-slider-container .slide, .slide-on {
  filter: none;
}
.desktop-carousel-container {
  .slide {
    min-width: 340px;
  }
}
.desktop-carousel-container-2 {
  .slide {
    min-width: 200px;
  }
}
