.carousel-outer-wrapper {
  /* disabled to show offset slides */
  /* overflow: hidden; */

  .slider {
    overflow: visible;
  }
}

.slider {
  display: grid;

  /* disabled to show offset slides */
  /* overflow: hidden; */

  /* pre-init: show the first slide */
  &:not(.slider-active) .slide:nth-child(1) {
    z-index: 0;
    translate: 0;
  }

  /* mobile slider  */
  @container slider-container (max-width: 767px) {
    grid-template-rows: 1fr;
    grid-template-columns: 100%;

    .slide {
      z-index: -1;
      grid-row: 1;
      grid-column: 1;
      transition: translate .6s ease-in-out;

      &.slide-on {
        z-index: 0;
        translate: 0;
      }

      &,
      &.slide-next {
        translate: 100%;
      }

      &.slide-prev {
        translate: -100%;
      }
    }
  }

  /* desktop slider (no slider) */
  @container slider-container (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;

    .slide {
      translate: 0;
    }
  }

  /* carousel */
  &.carousel {

    /* mobile: same of base slider */

    /* desktop */

    @container slider-container (min-width: 768px) {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      transition: translate .6s ease-in-out;
    }
  }

}
