//- doctype html
doctype strict
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="format-detection", content="telephone=no")
		title Explore &amp; Taste
		style(type="text/css")
			//include compiled/explore_and_taste_inline.css
		link(rel="stylesheet" href="explore_and_taste_inline.css" type="text/css" media="all")
		link(rel="stylesheet" href="explore_and_taste_not_inline.css" type="text/css" media="all")
	body(leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" class="yahoo_fix")

		// Wrapper table
		table(width="100%" border="0" cellpadding="0" cellspacing="0" align="center" id="wrapper")
			tbody
				tr
					td(width="100%")
						// Content Header
						table(class="content header deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center")
							tbody
								tr
									td(width="100%")
										// Logo & Summary text
										table(border="0" cellpadding="0" cellspacing="0" class="content summary" width="100%")
											tr
												td
													img(src="../imgs/food_service_logo.png" alt="Food Service")
												td
													p Brief summary of the email. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestiae inventore tenetur vero rerum!
													p(class="summary-link")
														a(href="#") View on the web
										// navigation
										table(border="0" cellpadding="0" cellspacing="0" class="content nav" width="100%")
											tr
												td
													a(href="#") Products
												td
													a(href="#") Services
												td
													a(href="#") Pricing
										//header image
										img(src="../imgs/2014_08_life-of-pix-free-stock-photos-food-sandwich-Vegetables-kitchen.jpg" alt="Explore &amp; Taste")
						// Content Body
						table(class="content body deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center")
								tr
									td
										h1 Lorem ipsum: dolor sit amet, consectetur adipisicing elit.
										p Voluptatum, quaerat, ut, alias excepturi <a src="../imgs/#">quisquam tenetur saepe rerum quibusdam</a> nemo repellat consequuntur modi minus sit necessitatibus quam atque dolor dolorum itaque doloribus - eaque aperiam a velit impedit fuga praesentium dolorem natus.
								tr
									td
										// three columns
										table(class="content columns-table columns-wrapper" border="0" cellpadding="0" cellspacing="0" align="center")
											tr
												td(class="column-width")
													table(class="content column-content" border="0" cellpadding="0" cellspacing="0" align="center")
														tr
															td(class="column-header")
																img(src="../imgs/barbecued_chicken_brochette_hires.jpg" alt="barbecued chicken")
														tr
															td
																h2 Lorem ipsum dolor adipisicing elit
																p(class="text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, quaerat, officia aut cupiditate eligendi sequi fuga eveniet fugiat id eos. Lorem ipsum dolor sit amet, consectetur.
																div(class="price") <span class="currency-sign">$</span>2.75
																a(href="#" class="buttons") Buy Now!

												td(class="column-spacer") &nbsp;
												td(class="column-width")
													table(class="content column-content" border="0" cellpadding="0" cellspacing="0" align="center")
														tr
															td(class="column-header")
																img(src="../imgs/stuffed_bread_hires.jpg" alt="Stuffed bread")
														tr
															td
																h2 Lorem ipsum dolor sit consectetur
																p(class="text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, vero nesciunt optio fugiat sit ducimus porro repudiandae in adipisci corporis! Lorem ipsum dolor sit.
																div(class="price") <span class="currency-sign">$</span>3.99
																a(href="#" class="buttons") Buy Now!

												td(class="column-spacer") &nbsp;
												td(class="column-width")
													table(class="content column-content" border="0" cellpadding="0" cellspacing="0" align="center")
														tr
															td(class="column-header")
																img(src="../imgs/tandoori_chicken_bites_hires.jpg" alt="Tandoori chicken")
														tr
															td
																h2 Consectetur elit. Iure, voluptis?
																p(class="text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, in, iure nisi soluta sit deserunt distinctio ipsum accusantium ipsa. Ducimus.
																div(class="price") <span class="currency-sign">$</span>4.50
																a(href="#" class="buttons") Buy Now!
						// Content footer
						table(class="content footer deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center")
							tbody
								tr
									td
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, molestiae?
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										div(class="social_icons")
											a(href="#" title="Visit our Facebook page")
												img(src="../imgs/social-icons-red-facebook.png")
											a(href="#" title="Visit our Twitter page")
												img(src="../imgs/social-icons-red-twitter.png")
											a(href="#" title="Visit our Google+ page")
												img(src="../imgs/social-icons-red-googleplus.png")
											a(href="#" title="Visit our Pinterest page")
												img(src="../imgs/social-icons-red-pinterest.png")
											a(href="#" title="Visit our You Tube Channel")
												img(src="../imgs/social-icons-red-youtube.png")
											a(href="#" title="Send this newsletter to a friend")
												img(src="../imgs/social-icons-red-email.png")
										p
											strong Food Service
											br
											a(href="mailto:info@foodservice.com") info@foodservice.com
