svg {
  display: block;
  margin-top: 2rem;
  background: #ddd;
}

pre {
  min-height: 1rem;
  padding: .5rem;
  margin-top: 1rem;
  font-size: 150%;
  line-height: 1.5;
  white-space: normal;
  background: #ddecce;
}
